{% extends 'base.html.twig' %}

{% block title %}
    Création d'un nouveau contact
{% endblock %}

    {% block body %}
        <h1>Création d'un nouveau contact</h1>
        {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.category) }}
        <button class="btn btn-secondary" type="submit">Ajouter</button>
        {{ form_end(form) }}
    {% endblock %}


