{% extends 'base.html.twig' %}

{% block title %}
    {{ contact.firstName }}  {{ contact.lastName }}
{% endblock %}

    {% block body %}
        <h1>{{ contact.firstName }} {{ contact.lastName }}</h1>
        <p>informations:</p>
        <dl>
            <dt>firstName</dt>
            <dd>{{  contact.firstName }}</dd>
            <dt>lastName</dt>
            <dd>{{ contact.lastName }}</dd>
            <dt>email</dt>
            <dd>{{ contact.email }}</dd>
        </dl>
    {% endblock %}


