{% extends 'base.html.twig' %}

{% block title %}
    Édition de {{ contact.lastName }}, {{ contact.firstName }}
{% endblock %}

    {% block body %}
        <h1>Édition de {{ contact.lastName }}, {{ contact.firstName }}</h1>
        {{ include('contact/_form.html.twig',{'submit_label': 'Modifier', 'form': form}, with_context = false) }}
    {% endblock %}


