{% extends 'base.html.twig' %}

{% block title %}
    Édition de {{ contact.lastName }}, {{ contact.firstName }}
{% endblock %}

    {% block body %}
        <h1>Édition de {{ contact.lastName }}, {{ contact.firstName }}</h1>
        {{ form_start(form) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.category) }}
        <button class="btn btn-secondary" type="submit">Modifier</button>
        {{ form_end(form) }}
    {% endblock %}


