{% extends 'base.html.twig' %}

{% block title %}
    Édition de {{ contact.lastName }}, {{ contact.firstName }}
{% endblock %}

    {% block body %}
        <h1>Édition de {{ contact.lastName }}, {{ contact.firstName }}</h1>
        {{ form(form) }}
    {% endblock %}


